ADLS_ACCOUNT_NAME=adlsmedalliondev
ADLS_CONTAINER_NAME=medallion

DATABRICKS_HOST=https://adb-xxxx.azuredatabricks.net
DATABRICKS_TOKEN=dapi...

PG_HOST=your-postgres-host.postgres.database.azure.com
PG_PORT=5432
PG_DB=orders_db
PG_USER=pg_admin
PG_PASSWORD=

PRODUCTS_API_URL=https://internal-api.example.com
PRODUCTS_API_KEY=

SYNAPSE_CONN_STRING=Server=tcp:synapse-medallion-dev.sql.azuresynapse.net,1433;...

AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=

ENV=dev
